
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"
</head>
<body>
    <div class="text-center">
        <h3>We are going to have an exiting party</h3>
        <h4>You're invited</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">Rsvp now</a>
    </div>
</body>
</html>

