@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
        <p>
            <label asp-for="Name">Your Name:</label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">Your Email:</label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">Your Phone:</label>
            <input asp-for="Phone" />
        </p>
        <p>
            <label>Will you attend?</label>
            <select asp-for="WillAttend">
                <option value="">Choose an option:</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

